:root {
    --bs-body-font-family: 'Stack Sans Text', sans-serif;
    --theme-blue: #277dff;
    --theme-yellow: #ffc200;
    --theme-orange: #ff7a00;
    --theme-red: #f2283c;
    --theme-green: #00ae6b;
    --theme-magenta: #d72e82;
    --theme-purple: #875afb;
    --theme-gray: #13131a;
}


body {
    font-family: var(--bs-body-font-family);
    font-optical-sizing: auto;
    background-color: rgb(248, 248, 248);
}

#img-logo {
    max-width: 120px;
    width: 100%;
}

.nav-link {
    font-weight: 600;
}

#container-login {
    max-width: 500px;
    margin: 0 auto;
}

#main-navbar {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px;
}

#basic-plan {
    border: none;
}

.fa-check {
    font-size: small;
    color: var(--theme-yellow);
}

.nav-links:hover {
    transition: all 0.3s ease-in-out;
    height: 6px;
    color: var(--theme-blue);
}

.nav-links {
    position: relative;
    font-weight: 600;
    color: var(--theme-gray);
    text-decoration: none;
}

#plans-section {
    background-color: var(--theme-blue);
}

.box {
    background-color: var(--theme-gray);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}